/*
    Theme Name: YOOtheme Child
    Template: yootheme
    Author: Ladislav Šulc
    Description: YOOtheme Child Theme
    Version: 1.0.3
    Text Domain:  yootheme-child
*/


/* ==========================================================================
   GENERAL LAYOUT CHANGES
   ========================================================================== */

.uk-logo .uk-responsive-height {
  width: 58px;
}

/* Main Content BG */
.tm-main {
  background: #f8f8f8;
}

#footer p:last-of-type {
  margin-bottom: 0;
}


/*=============================================
=            Special Page Classes            =
=============================================*/

.no-sidebar .tm-sidebar,
.no-header .tm-header,
.no-header .tm-header-mobile,
.no-bottom #section-bottom {
  display: none;
}

.uk-section-primary:not(.uk-preserve-color) .uk-input:focus {
  border: 1px solid #fcb !important;
}

.uk-form div div:nth-child(2) {
  display: none;
}

.no-sidebar .tm-main .uk-container {
  max-width: 770px;
}

.no-header .tm-header {
  display: none;
}

.uk-card .el-content p:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .mobile-readability {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
  }

  .mobile-readability p {
    margin-bottom: 0;
  }
}

.narrow #tm-main .uk-container {
	max-width: 770px;
}

/*=====  End of Special Page Classes  ======*/



/* ==========================================================================
   COMPONENT OVERRIDES
   ========================================================================== */

/* Link
   ========================================================================== */
article .uk-link,
article a {
  text-decoration: underline;
}

article .uk-link:hover,
article a:hover {
  color: inherit;
  text-decoration: none;
}

article .uk-pagination a,
article .uk-pagination a:hover {
  text-decoration: none;
}

/* Button
   ========================================================================== */
.uk-button.uk-button-default.uk-button-large span.uk-text-middle {
  position: relative;
  top: -2px;
}

.uk-button.uk-button-default.uk-button-large span.uk-icon {
  margin-right: 5px;
}

.uk-button-secondary {
  background-color: #b3ebdf !important;
  color: #10312a !important;
  border: 1px solid transparent !important;
}

.uk-button-secondary:hover {
  background: transparent !important;
  color: #10312a !important;
  border: 1px solid #b3ebdf !important;
}

/* Panel
   ========================================================================== */
.uk-panel .el-title a {
  display: inline-block;
}

.uk-card-title a {
  display: block;
}

.uk-navbar-dropdown a {
  color: #999 !important;
}

.uk-navbar-dropdown li.uk-active a,
.uk-navbar-dropdown a:hover {
  color: #333 !important;
}

/* List
   ========================================================================== */

.uk-list p {
  margin-bottom: 0;
}

/* Overlays
   ========================================================================== */

.uk-overlay .el-title {
  font-size: 26px;
  font-weight: 600;
}

.uk-overlay .el-content {
  font-weight: 600;
}


/* Utility
   ========================================================================== */

.no-border,
.no-border:after {
  border: none !important;
}

/* Padding
   ========================================================================== */

.uk-container.uk-container-expand {
  padding: 0;
}


/* ==========================================================================
   SINGLE POST / PAGE
   ========================================================================== */

.uk-article ul li {
  line-height: 1.875;
}

/*
.category-podcast img.attachment-post-thumbnail,
.category-podcast [typeof="ImageObject"] {
  display: none;
}*/

/* ==========================================================================
   BLOG
   ========================================================================== */

.blog #section-bottom,
.single.single-post #section-bottom {
	display: none;
}
.blog .uk-article-title a {
	display: inline-block;
}
.single .uk-margin-medium-bottom[property="image"] {
	display: none;
}





/* ==========================================================================
   NAVIGATION
   ========================================================================== */

.uk-navbar-dropdown {
  padding-top: 20px;
  padding-bottom: 20px;
}

.uk-navbar-container .uk-navbar-nav>li>a {
  font-weight: 500;
}

@media (min-width: 960px) and (max-width: 1280px) {
	.uk-navbar-nav>li>a {
		padding: 0 20px;
	}
	.uk-navbar-item.widget-search {
		display: none;
	}
}

/* Fix transparent nav */

.tm-header-transparent .uk-navbar-container {
  background: transparent;
}

.tm-header .uk-sticky-fixed {
  background: #009fe3;
}


/* Subnavigation
   ========================================================================== */

.subnav {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 4px solid #009fe3;
}

.subnav ul>li>a {
  padding: 10px 30px !important;
}

.subnav ul>li>a:hover,
.subnav ul>li.uk-active>a {
  background: #f7f7f7;
}

.widget-menu.uk-sticky-fixed {
  z-index: 950 !important;
}

ul.uk-nav-sub {
  display: none;
  padding: 0 !important;
}

.subnav .uk-nav-sub li>a {
  padding: 8px 30px 8px 50px !important;
}

.uk-nav-sub .uk-active a {
  color: #333;
}

@media (min-width: 1200px) {
  .uk-card-body .uk-nav-default>li>a {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* Show Subnav if active item */

.uk-card .uk-active .uk-nav-sub {
  display: block;
}


/* Slideshow */

.uk-slideshow .uk-text-lead {
  margin-bottom: 30px;
}


/* Sidebar */

@media (min-width: 960px) {
  .tm-sidebar {
    width: 30%;
  }
}


/* FOOTER */

.tm-bottom {
  border-top: 1px solid #e6e6e6;
}

.tm-bottom h3 {
  font-size: 1.111112rem;
}


/* ==========================================================================
   Slideshow
   ========================================================================== */

.uk-slideshow-items .uk-position-cover.uk-section {
  padding: 0;
}



/* ==========================================================================
   CONTACT
   ========================================================================== */


/* Mobile */

@media only screen and (max-width: 640px) {

  .uk-h1,
  h1 {
    font-size: 1.7778rem;
  }

  .uk-h3,
  h3 {
    font-size: 1.333334rem;
  }

  .uk-text-lead {
    font-size: 1.333334rem;
  }

  .uk-slideshow .uk-text-lead {
    font-size: 1rem;
  }
}


/* Mobile */

@media (min-width: 960px) and (max-width: 1300px) {
  .uk-slideshow .uk-text-lead {
    font-size: 1rem;
  }
}



/* ==========================================================================
   WIDGETS
   ========================================================================== */

/* Recent Posts Extended
   ========================================================================== */
.rpwe-ul {
  display: flex;
	margin: 0 -20px;
  list-style: none;
  padding: 0;
}

.rpwe-li {
	flex: 1 1 350px;
  padding: 0 20px;
}

.rpwe-title {
  margin-bottom: 5px;
}

.rpwe-title a {
  display: block;
}

.rpwe-time {
  color: rgba(0, 0, 0, 0.4);
}

.rpwe-summary {
  margin-top: 20px;
}

@media (max-width: 1024px) {

	.rpwe-ul {
		padding: 20px;
		flex-flow: row wrap;
    justify-content: flex-start;
	}

  .rpwe-li {
    flex: 1 0 46%;
    padding: 0 10px;
  }
  .rpwe-li:last-child {
		max-width: 50%;
  }

}

@media (max-width: 480px) {

	.rpwe-li {
    flex: 1 1 100%;
    padding: 0 20px;
  }

}

/* Related Posts
   ========================================================================== */

.related-gallery {
  display: flex;
}

.gallery-item {
  width: 33%;
  margin-top: 0;
  padding-right: 30px;
}

@media only screen and (max-width: 640px) {
  .related-gallery {
    flex-direction: column;
  }

  .gallery-item {
    width: 49%;
  }
}

.gallery-item:last-child {
  padding-right: 0;
}

.gallery-caption {
  margin-top: 1em;
  font-size: 20px;
  font-weight: 600;
}

.gallery-caption a {
  display: inline-block;
  text-decoration: none;
}

.gallery-caption a:hover {
  text-decoration: underline;
}

.rpbt_shortcode {
  margin-top: 2em;
}



/* ==========================================================================
   PLUGINS
   ========================================================================== */


/* Gravity Forms
   ========================================================================== */

.gform_wrapper {
  margin: 0;
}

/* Errors */
.gform_wrapper div.validation_error {
  border: 1px solid #ff8080;
  color: #ff8080;
  border-radius: 3px;
}

.gform_wrapper li.gfield.gfield_error {
  background: none;
  border: none;
}

.gform_wrapper .validation_message {
  color: #ff8080;
}

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper li.gfield_error textarea {
  border: 1px solid #ff8080;
}

.gform_wrapper .gfield_error .gfield_label {
  color: #333;
}

/* Confirmation */
.gform_confirmation_message {
  padding: 20px;
  border: 1px solid #00d1c5;
  border-radius: 3px;
}

/* Form fiels */
.gform_wrapper ul li.gfield {
  margin-top: 20px !important;
}

.gform_wrapper ul li.gfield:first-of-type {
  margin-top: 0 !important;
}

.gform_wrapper .has_first_name label {
  margin-bottom: 0 !important;
}

.gform_wrapper label.gfield_label {
  font-weight: 400;
  color: #333;
}

.gform_wrapper .gfield_contains_required label.gfield_label {
  font-weight: 500;
}

.gform_fields input,
.gform_fields textarea {
  padding: 8px !important;
  border: 1px solid #e5e5e5;
}

.gform_fields input:focus,
.gform_fields textarea:focus {
  border: 1px solid #333;
  outline: none;
}

.gform_button.button {
  background: #333;
  color: #fff;
  padding: 15px 30px;
  /*border-radius: 3px;*/
  border: none;
  cursor: pointer;
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  transition: all 0.1s ease-in;
}

.gform_button.button:hover {
  background: #111;
}

/* Widget */
.uk-panel.widget-gform-widget {
  padding: 20px;
  background: #FFE976;
}

.widget-gform-widget .gform_wrapper .gform_footer {
  padding-bottom: 0;
}

.widget-gform-widget .gform_wrapper {
  margin: 0;
}

.widget-gform-widget .gform_fields input {
  width: 100% !important;
  padding: 13px !important;
}

.widget-gform-widget .gform_wrapper .gform_footer {
  margin: 1em 0 0;
  padding: 0;
}

.widget-gform-widget li label.gfield_label {
  display: none !important;
}

@media only screen and (min-width: 641px) {
  .widget-gform-widget .gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0;
  }

  .widget-gform-widget .gform_wrapper .gform_footer input.button,
  .widget-gform-widget .gform_wrapper .gform_footer input[type=submit] {
    margin-right: 0;
    width: inherit;
  }
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ul.uk-list,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ul.uk-list {
  margin: 0 !important;
  list-style: none !important;
}

body .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html ul.uk-list li,
body .gform_wrapper form div.gform_body ul.gform_fields li.gfield.gfield_html ul.uk-list li {
  list-style-type: none !important;
  font-size: 15px;
}

.gform_wrapper .uk-list span {
  margin-right: 5px;
}


/* Newsletter Form - Freebie - Content, Bottom */

@media only screen and (min-width: 641px) {
  .gform_wrapper form.gf_simple_horizontal {
    width: 100% !important;
  }
}

@media only screen and (min-width: 641px) {
  .gform_wrapper form.gf_simple_horizontal div.gform_body ul.top_label li.gfield {
    padding-right: 0.6em !important;
  }
}

@media only screen and (min-width: 641px) {

  .gf_simple_horizontal .gform_footer input.button,
  .gf_simple_horizontal .gform_footer input[type=submit] {
    margin-right: 0 !important;
  }
}

@media only screen and (min-width: 641px) {
  .gform_wrapper form.gf_simple_horizontal div.gform_body {
    width: 80% !important;
  }

  .gform_wrapper form.gf_simple_horizontal div.gform_footer.top_label {
    width: 20% !important;
  }
}

.gf_simple_horizontal .gform_fields input {
  height: 55px;
  padding: 0 12px !important;
  font-size: 18px !important;
  background-color: rgba(255, 255, 255, .1);
  color: rgba(255, 255, 255, .7);
  background-clip: padding-box;
  border-color: transparent !important;
  transition: .2s ease-in-out;
}

.gf_simple_horizontal .gform_fields input:focus {
  border: 1px solid #fcb !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9c9c9c;
  opacity: 1;
  /* Firefox */
}

.gf_simple_horizontal ul,
.gf_simple_horizontal li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gf_simple_horizontal .gform_button.button {
  background-color: #fcb;
  color: #553024;
  border: 1px solid transparent;
  padding: 0 40px;
  line-height: 53px;
  font-size: 14px !important;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.gf_simple_horizontal .gform_button.button:hover {
  background-color: transparent;
  color: #fcb;
  border-color: #fcb;
}

@media only screen and (max-width: 641px) {
  .gf_simple_horizontal .gform_button.button {
    line-height: 53px !important;
  }

  .gf_simple_horizontal label.gfield_label {
    color: #828282 !important;
    font-weight: 400 !important;
  }
}

.gform_wrapper.gf_simple_horizontal_wrapper {
  margin: 0;
}


/* Error Messages */
.gf_simple_horizontal_wrapper div.validation_error {
  color: #ff8080 !important;
  border-top: 1px solid #ff8080 !important;
  border-bottom: 1px solid #ff8080 !important;
  border-radius: 0 !important;
  font-weight: 400 !important;
}

.gf_simple_horizontal_wrapper li.gfield.gfield_error {
  padding: 0 !important;
  border: none !important;
  background: none !important;
}

.gf_simple_horizontal_wrapper .field_description_below .gfield_description {
  padding-top: 5px !important;
  position: absolute;
}

.gf_simple_horizontal_wrapper .validation_message {
  color: #ff8080 !important;
  font-weight: 400 !important;
}

/* HP Cover Form */
.uk-section-default:not(#section-bottom) #gform_5.gf_simple_horizontal .gform_fields input {
	border: 1px solid #777 !important;
}
.uk-section-default:not(#section-bottom) #gform_5.gf_simple_horizontal .gform_fields input:focus {
	border: 1px solid #222 !important;
}
.uk-section-default:not(#section-bottom) #gform_5.gf_simple_horizontal .gform_button.button:hover {
  background-color: #222;
  color: #fff;
  border-color: #222;
}


/* SSP
   ========================================================================== */

.podcast_meta {
  margin-bottom: 2em;
}

.ssp-icon-play_icon,
.ssp-icon-pause_icon {
  cursor: pointer;
}

.ssp-play-pause {
  transition: all 0.3s ease;
}

.ssp-play-pause:hover {
  color: #5ce1e6 !important;
}

.ssp-player-series {
  color: #999 !important;
}

/* Subscribe buttons */
.podcast-links span {
  display: inline;
  margin-right: 0.35em;
}

.podcast-links span:empty {
  display: none;
}

.itunes-link a,
.soundcloud-link a,
.spotify-link a {
  display: inline-block;
  height: 60px;
  transition: all 0.1s ease-in;
  text-indent: -1000em;
  margin-bottom: 0.5em;
}

.itunes-link a:hover,
.soundcloud-link a:hover,
.spotify-link a:hover {
  opacity: 0.8;
}

.itunes-link a {
  width: 163px;
  background-image: url('/wp-content/uploads/2018/10/itunes-subscribe.svg');
  background-repeat: no-repeat;
  background-size: 163px 60px;
}

.soundcloud-link a {
  width: 191px;
  background-image: url('/wp-content/uploads/2018/10/soundcloud-subscribe.svg');
  background-repeat: no-repeat;
  background-size: 191px 60px;
}

.spotify-link a {
  width: 180px;
  background-image: url('/wp-content/uploads/2018/10/spotify-subscribe.svg');
  background-repeat: no-repeat;
  background-size: 180px 60px;
}





/* Social Pug
   ========================================================================== */

.dpsp-share-text {
  margin-top: 2em;
}



/* ==========================================================================
   Archive
   ========================================================================== */

.archive article .uk-article-meta,
.archive article .uk-text-lead,
.blog article .uk-article-meta,
.blog article .uk-text-lead {
  display: none;
}

.archive .tm-sidebar,
.blog .tm-sidebar {
  display: none;
}

.post-type-archive-podcast .uk-subnav.uk-subnav-divider,
.tag .uk-subnav.uk-subnav-divider {
  display: none;
}

.post-type-archive-podcast .uk-article-title {
  font-size: 22px;
  line-height: 1.5;
}

.post-type-archive-podcast .uk-article-title a {
  display: inline-block;
}

.post-type-archive-podcast .uk-article-title a:hover {
  text-decoration: underline !important;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.tm-sidebar .uk-search-default {
  width: 100% !important;
}


/* ==========================================================================
   WIDGETS
   ========================================================================== */

/* Tags
   ========================================================================== */

.tags-inline ul {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.tags-inline ul li {
  flex: 1 0 33%;
  max-width: calc(33% - 10px);
  margin-bottom: 1em;
}

.tags-inline ul li:last-child {
  margin-bottom: 0;
}

.tags-inline li a {
  text-align: center;
}

.tags-inline a span {
  display: block;
  margin-top: 0.5em;
}

.tags-inline .uk-margin-small-left {
  margin-left: 0 !important;
}

.tags-inline.uk-width-xxlarge {
  width: 800px !important;
}

@media only screen and (max-width: 600px) {

  .tags-inline ul li {
    flex: 1 0 50%;
    max-width: calc(50% - 15px);
  }

}
